HELP.md
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Gradle caches
.gradle/
**/.gradle/
**/build/
**/out/


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Windows reserved filenames
nul
NUL
CON
PRN
AUX
com[0-9]
lpt[0-9]

# Compressed files and backups
*.zip
*.rar
*.7z
*.tar.gz
**/*_backup*
**/*backup*

# Large presentation files
*.pptx
*.ppt

# Large reference files
**/presentations/
**/reference/
